service: bookworm

provider:
  name: aws
  runtime: nodejs20.x
  region: ${opt:region, 'us-east-1'}
  stage: ${opt:stage, 'dev'}
  memorySize: 512
  timeout: 29
  environment:
    BOOKS_TABLE: ${self:service}-books-table-${self:provider.stage}
    BOOK_COVERS_BUCKET: ${self:service}-book-covers-bucket-${self:provider.stage}
    # AWS_REGION: ${self:provider.region}
    # TODO: Add frotnend URL for CORS

  iam:
    role:
      statements:
        - Effect: Allow
          Action:
            - dynamodb:PutItem
            - dynamodb:GetItem
            - dynamodb:UpdateItem
            - dynamodb:DeleteItem
            - dynamodb:Scan
            - dynamodb:Query
          Resource:
            - !GetAtt BooksTable.Arn
        # s3 permissions
        - Effect: Allow
          Action:
            - s3:PutObject
            - s3:GetObject
            - s3:DeleteObject
            - s3:HeadObject
          Resource:
            - !Sub "${BookCoversBucket.Arn}/*"
        - Effect: Allow
          Action:
            - s3:ListBucket
          Resource:
            - !GetAtt BookCoversBucket.Arn

functions:
  # Book Related Endpoints
  getAllBooks:
    handler: src/handlers/books/getAllBooks.handler
    description: Get all books
    events:
      - http:
          method: get
          path: /books
          cors: true # makes API Gateway return the CORS response headers

  getBookById:
    handler: src/handlers/books/getBookById.handler
    description: Get a book by ID
    events:
      - http:
          method: get
          path: /books/{id}
          cors: true

  createBook:
    handler: src/handlers/books/createBook.handler
    description: Create a new book - ADMIN
    events:
      - http:
          method: post
          path: /books
          cors: true # ! TODO: For now cors is true, later change to specific domain

  deleteBook:
    handler: src/handlers/books/deleteBook.handler
    description: Delete a  book - ADMIN
    events:
      - http:
          method: delete
          path: /books/{id}
          cors: true # ! TODO: For now cors is true, later change to specific domain

  generateUploadUrl:
    handler: src/handlers/books/generateUploadUrl.handler
    description: Generate presigned URL for uploading book cover - ADMIN
    events:
      - http:
          method: post
          path: /books/{id}/upload-url
          cors: true # ! TODO: For now cors is true, later change to specific domain
  updateBook:
    handler: src/handlers/books/updateBook.handler
    description: "Update a book - ADMIN"
    events:
      - http:
          method: put
          path: /books/{id}
          cors: true # ! TODO: For now cors is true, later change to specific domain

resources:
  Resources:
    # DynamoDB Tables
    BooksTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.BOOKS_TABLE}
        BillingMode: PAY_PER_REQUEST
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        Tags:
          - Key: Environment
            Value: ${self:provider.stage}
          - Key: Service
            Value: ${self:service}

    # S3 Bucket for Book Cover Images
    BookCoversBucket:
      Type: AWS::S3::Bucket
      Properties:
        BucketName: ${self:provider.environment.BOOK_COVERS_BUCKET}
        PublicAccessBlockConfiguration:
          BlockPublicAcls: true
          BlockPublicPolicy: true
          IgnorePublicAcls: true
          RestrictPublicBuckets: true
        BucketEncryption:
          ServerSideEncryptionConfiguration:
            - ServerSideEncryptionByDefault:
                SSEAlgorithm: AES256
        VersioningConfiguration:
          Status: Enabled
        LifecycleConfiguration:
          Rules:
            - Id: DeleteOldVersions
              Status: Enabled
              NoncurrentVersionExpirationInDays: 30
        CorsConfiguration:
          CorsRules:
            - AllowedHeaders:
                - "*"
              AllowedMethods:
                - GET
                - PUT
                - HEAD
              AllowedOrigins:
                - "*"
              MaxAge: 3000
        Tags:
          - Key: Environment
            Value: ${self:provider.stage}
          - Key: Service
            Value: ${self:service}
