service: novel-nest

plugins:
  - serverless-plugin-typescript

provider:
  name: aws
  runtime: nodejs20.x
  region: ${opt:region, 'us-east-1'}
  stage: ${opt:stage, 'dev'}
  memorySize: 512
  timeout: 30

functions:
  # Book Related Endpoints
  getAllBooks:
    handler: src/handlers/getAllBooks.handler
    description: Get all books
    events:
      - http:
          method: get
          path: /books
          cors: true # makes API Gateway return the CORS response headers

  getBookById:
    handler: src/handlers/getBookById.handler
    description: Get a book by ID
    events:
      - http:
          method: get
          path: /books/{id}
          cors: true
